#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

body {
    background: linear-gradient(to right, black, #000);
    overflow: hidden;
    margin: 0;
    font-family: "Open Sans";
}